<style type="text/css">
  .desCombo{
    color:#888888;
  }
</style>
<script type="text/javascript">
  //create namespace client/index
  var cContract = {}; //<<-----------find and replace for you

  //======================= init all config ==============================
  cContract.restUrl = {
    read:'<%= client_contracts_path %>/index',
    create:'<%= url_for(:controller => 'client_contracts', :action => 'post_data') %>',
    update:'<%= url_for(:controller => 'client_contracts', :action => 'post_data') %>',  // params[:id] != ''
    destroy:'<%= url_for(:controller => 'client_contracts', :action => 'post_data') %>',  //--send params[:oper] = 'del'
    viewDetail: '<%= url_for(:controller => 'client_contracts', :action => 'index') %>'
  };

  cContract.rightClick = function(grid, row, e){
    var storeItem = grid.getStore();
    var itemGridRecords = storeItem.getRange(0,storeItem.getCount()-1);
    e.preventDefault();
    this.cellMenu = new Ext.menu.Menu({
      items : [{
          xtype : 'menuitem',
          text: 'View PO',
          iconCls: 'silk-application_form_magnify',
          handler:function(){
            var id = itemGridRecords[row].get('id');
            document.location = cContract.restUrl.viewDetail+'/'+id;
          }
        }, '-', {
          text: 'Edit',
          iconCls: 'silk-application-edit',
          handler: cContract.onEdit
        }, {
          text: 'Delete',
          iconCls: 'silk-delete',
          handler: cContract.onDelete
        }]
    });
    this.cellMenu.showAt(e.getXY());
  }
  
  cContract.readerField =[
    {name:'id',mapping:'id'},
    {name:'contract_code',mapping:'contract_code'},
    {name:'contract_date',mapping:'contract_date',type: 'date',dateFormat: 'c'},
    {name:'actual_contract',mapping:'actual_contract'},
    {name:'client_id',mapping:'client_id'},
    {name:'client_name',mapping:'client_name'},
    {name:'num_po',mapping:'num_po'},
    {name:'status',mapping:'status'},
    {name:'remark',mapping:'remark'}
  ];

  //============column model for grid ======================================
  cContract.cm = new Ext.grid.ColumnModel({
    defaults:{
      sortable:true
    },
    columns:[
      new Ext.grid.RowNumberer(),
      {
        header: 'Contract Code',
        width: 300,
        maxLength: 13,
        dataIndex: 'contract_code'
      },
      {
        header: 'Contract Date',
        width: 250,
        dataIndex: 'contract_date',
        renderer: Ext.util.Format.dateRenderer('d-m-Y')
      },
      {
        header: 'Client Name',
        width: 500,
        dataIndex: 'client_id',
        renderer:function(val, meta, record) {
          return record.data.client_name;
        }
      },
      {
        header: 'Actual Contract',
        width: 150,
        hidden: true,
        dataIndex: 'actual_contract'
      },
      {
        header: 'PO Count',    
        width: 100,
        dataIndex: 'num_po',
        sortable: false,
        renderer:function(val, meta, record) {
          return val+'-PO';
        }
      },
      {
        header: 'Status',
        hidden: true,
        width: 100,
        dataIndex: 'status',
        renderer:function(val, meta, record) {
          return val;
        }
      }, {
        header: 'Remark',
        width: 300,
        dataIndex: 'remark',
        hidden: true
      }
    ]
  });

  cContract.filterField = [{ //---------map same Json Reader name
      type: 'string',
      dataIndex: 'contract_code'
    }, {
      type: 'date',
      dataIndex: 'contract_date',
      dateFormat: 'Y-m-d H:i:s'
    }, {
      type: 'string',
      dataIndex: 'client_id'
    }, {
      type: 'string',
      // defaultValue:true,
      dataIndex: 'status'
    }, {
      type: 'string',
      dataIndex: 'remark'
    }];

  cContract.formItem = [ //--------item in form ex.combobox,textfield
    {
      xtype:'hidden',
      name:'id'
    }, {
      xtype: 'textfield',
      fieldLabel: 'Contract Code',
      autoCreate : {
        tag : 'input',
        maxlength : 13
      },
      name: 'contract_code'
    }, {
      xtype:'datefield',
      fieldLabel: 'Contract Date',
      name: 'contract_date',
      format:'d-m-Y'
    }, {
      fieldLabel: 'Client Name',
      name:'client_id',
      xtype: 'combo',
      typeAhead: false,
      //  allowBlank:false,
      triggerAction: 'all',
      minChars:1,
      forceSelection:true,
      selectOnFocus:true,
      store: new Ext.data.Store({ //<----this store for Combobox
        url:'<%= url_for(:controller => 'clients', :action => 'get_all_client') %>',
        mode: 'remote',
        autoLoad: true,
        reader:new Ext.data.JsonReader({
          totalProperty: 'total',        
          root: 'data',
          fields:[
            {name:'id',mapping:'id'},
            {name:'name',mapping:'name'},
            {name:'address',mapping:'address'}
          ]
        })
      }),
      hiddenName: 'client_id',
      valueField: 'id',
      displayField: 'name',
      tpl:'<tpl for="."><div class="x-combo-list-item">{name}'+
        '<div class="desCombo"><b>address : </b>{address}</div>'+
        '</div></tpl>',
      listeners:{
        'expand': function(c){
          this.store.load();
        }
      }
    }
    /*   , {
      xtype: 'combo',
      name:'status',
      fieldLabel: 'Status',
      value:true,
      typeAhead: false,
      triggerAction: 'all',
      lazyRender:true,
      forceSelection:true,
      selectOnFocus:true,
      mode: 'local',
      store: new Ext.data.ArrayStore({
        fields: [
          'id',
          'name',
          'description'
        ],
        data: [[true, 'Active','Testtest'], [false, 'Inactive','testttttt']]
      }),
      hiddenName:'status',
      valueField: 'id',
      displayField: 'name',
      tpl:'<tpl for="."><div class="x-combo-list-item">{name}'+
        '<div class="desCombo"><b>Description : </b>{description}</div>'+
        '</div></tpl>'
    }   */
  ];

  //===============title text for grid
  cContract.text = {
    grid: 'Listing Client Contract',
    addWin: 'Add Client Contract',
    editWin: 'Edit Client Contract',
    displayFooter : 'Displaying Client Contracts {0} - {1} of {2}',
    emptyDisplayFooter: 'No Client Contracts to display'
  };
  cContract.errorConfig = {
    title:'Error',
    msg: 'Please Select Row.',
    buttons: Ext.Msg.OK,
    animEl: 'logo',
    icon: Ext.MessageBox.ERROR
  }

  Ext.onReady(function(){
    var limit = 10;
    var gridMask = new Ext.LoadMask('client_contract_grid', {msg:"Loading..."});
    //============== Action Handler ======================

    cContract.onAdd = function(){ //event on click add on grid menu
      cContract.addForm.getForm().reset();
      cContract.addForm.getForm().setValues({status:1});
      cContract.addForm.getForm().clearInvalid();
      cContract.addWin.show();
    }
    cContract.onEdit = function(){ //event on click add on grid menu
      var r = cContract.grid.getSelectionModel().getSelected();
      if(r!=undefined){
        cContract.editForm.getForm().reset();
        cContract.editForm.getForm().setValues({status:1});
        cContract.editForm.getForm().clearInvalid();
        var rec = cContract.store.getById(''+r.data.id);
        cContract.editForm.getForm().loadRecord(rec);
        cContract.editWin.show();
      }else{
        Ext.Msg.show(cContract.errorConfig);
      }
    }
    cContract.onDelete = function(){
      var r = cContract.grid.getSelectionModel().getSelected();
      if(r!=undefined){
        var rec = cContract.store.getById(''+r.data.id);
        Ext.MessageBox.confirm('Delete', 'Are you sure?', function(btn){
          if(btn == 'yes'){
            gridMask.show();
            var conn = new Ext.data.Connection();
            conn.request({
              url: cContract.restUrl.destroy,
              //method: 'POST',
              params: {
                oper:'del',
                id:r.data.id
              },
              success: function(response, options){
                var resText = Ext.util.JSON.decode(response.responseText);
                gridMask.hide();
                if(resText.success){
                  cContract.store.reload();
                }else{
                  Ext.MessageBox.show({
                    title:'Error',
                    msg: resText.errors.base,
                    buttons: Ext.Msg.OK,
                    icon: Ext.MessageBox.ERROR
                  });
                }
              }
              //  failure: function(response, options){ alert('Delete operation failed.'); }
            });

          }
        });
      }else{
        Ext.Msg.show(cContract.errorConfig);
      }
    }
    //================== End Handler ===================
    Ext.QuickTips.init();
    cContract.writer = new Ext.data.JsonWriter({
      encode: true,
      writeAllFields: false
    });
    cContract.reader = new Ext.data.JsonReader({
      totalProperty: 'total',
      successProperty: 'success',
      idProperty: 'id',
      root: 'data',
      messageProperty: 'message',
      fields: cContract.readerField
    });
    //================== store =====================
    cContract.store = new Ext.data.GroupingStore({
      url: cContract.restUrl.read,
      reader: cContract.reader,
      writer: cContract.writer,
      autoSave: false,
      remoteSort: true,
      remoteGroup:true,
      baseParams:{
        start: 0,
        limit: limit,
        q:1
      },
      autoLoad:true
    });

    //==================  filter =====================
    cContract.filters = new Ext.ux.grid.GridFilters({
      encode: false, // json encode the filter query
      updateBuffer: 1,
      filters: cContract.filterField
    });

    cContract.addForm = new Ext.form.FormPanel({
      id: 'cContractAddForm',
      iconCls: 'silk-user',
      frame: true,
      labelAlign: 'right',
      frame: true,
      width: 400,
      defaults:{
        width:200
      },
      items: cContract.formItem,
      buttons:[
        {
          id: 'cContractBtnAddFormSave',
          text:'Save',
          handler:function(){ //handler button click
            cContract.addForm.getForm().submit({
              url: cContract.restUrl.create,
              params:{
                is_add: '1'
              },
              waitMsg:'Saving...',
              success: function(form, action) {
                cContract.addWin.hide();
                cContract.store.load({
                  params:{
                    sort:'client_contracts.id',
                    dir:'DESC'
                  }
                });
              }
            });
          }
        }, {
          id: 'cContractBtnEditFormCancel',
          text:'Cancel',
          handler:function(){
            cContract.addWin.hide();
          }
        }
      ]
    });

    cContract.editForm = new Ext.form.FormPanel({
      id: 'cContractEditForm',
      iconCls: 'silk-user',
      frame: true,
      labelAlign: 'right',
      frame: true,
      width: 400,
      defaultType: 'textfield',
      defaults:{
        width:200
      },
      items: cContract.formItem,
      buttons:[
        {
          id: 'cContractBtnEditFormSave',
          text:'Save',
          handler:function(){
            cContract.editForm.getForm().submit({
              url: cContract.restUrl.update,
              waitMsg:'Saving...',
              success: function(form, action) {
                cContract.editWin.hide();
                cContract.store.reload();
              }
            });
          }
        }, {
          id: 'cContractBtnEditFormCancel',
          text:'Cancel',
          handler:function(){
            cContract.editWin.hide();
          }
        }
      ]
    });

    cContract.addWin = new Ext.Window({
      id: 'cContractAddWin',
      title: cContract.text.addWin,
      closeAction:'hide',
      closable:true,
      modal:true,
      resizable:false,
      plain:true,
      items:[
        cContract.addForm
      ]
    });

    cContract.editWin = new Ext.Window({
      id: 'cContractEditWin',
      title: cContract.text.editWin,
      closeAction:'hide',
      closable:true,
      modal:true,
      resizable:false,
      plain:true,
      items:[
        cContract.editForm
      ]
    });

    cContract.grid = new Ext.grid.GridPanel({
      id: 'cContractGrid',
      renderTo: 'client_contract_grid',
      title: cContract.text.grid,
      iconCls: 'silk-application-view_columns',
      height: 350,
      store: cContract.store,
      loadMask: true,
      stripeRows: true,
      enableRowBody: true,
      plugins: [cContract.filters],
      view: new Ext.grid.GroupingView({
        forceFit:true,
        groupTextTpl: '{text} ({[values.rs.length]} {[values.rs.length > 1 ? "Items" : "Item"]})'
      }),
      colModel:cContract.cm,
      tbar: [{
        id: 'cContractBtnGridAdd',
          text: 'Add',
          iconCls: 'silk-add',
          handler: cContract.onAdd
        }, '-', {
          id: 'cContractBtnGridEdit',
          text: 'Edit',
          iconCls: 'silk-application-edit',
          handler: cContract.onEdit
        }, '-', {
          id: 'cContractBtnGridDelete',
          text: 'Delete',
          iconCls: 'silk-delete',
          handler: cContract.onDelete
        },'->',
        {
          id: 'cContractBtnGridClearFilter',
          text: 'Clear Filter Data',
          iconCls: 'silk-textfield_delete',
          handler: function () {
            cContract.grid.filters.clearFilters();
          }
        },'-',
        {
          id: 'cContractBtnGridClearGrouping',
          text: 'Clear Grouping',
          iconCls: 'silk-textfield_delete',
          handler: function () {
            cContract.store.clearGrouping();
          }
        }
      ],
      listeners : {     
        'rowcontextmenu' : function(grid, rowIndex, e){
          var sm = grid.getSelectionModel();
          sm.selectRow(rowIndex, sm.isSelected(rowIndex));
          cContract.rightClick(grid, rowIndex, e);
        }
      },
      bbar:
        new Ext.PagingToolbar({
        pageSize: limit,
        store: cContract.store,
        displayInfo: true,
        displayMsg: cContract.text.displayFooter ,
        emptyMsg: cContract.text.emptyDisplayFooter,
        plugins: [cContract.filters]
      })
    });
  });
</script>
<div id="client_contract_grid"></div>
